@use "colors" as c;
@use "mixins" as mix;

.mess-header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	@include mix.flex(center, space-between);
	box-shadow: 0 15px 15px -15px rgba(128, 128, 128, 0.4);
	padding: 0.2rem 2rem;
	margin: auto;
	font-size: 2rem;

	backdrop-filter: blur(10px);

	@supports not (backdrop-filter: blur(0)) {
		background: hsla(0, 0%, 100%, 0.9);
	}

	@include mix.trans(opacity);
}

.mess-header-info {
	@include mix.flex(center, flex-start);
	width: 45%;

	&__header {
		font-weight: 400;

		&--img {
			user-select: none;
			-webkit-user-drag: none;
			width: 55px;
			height: 55px;
			border-radius: 50%;
			border: 1px solid map-get(c.$app-colors, "lightGray");
		}

		&--name {
			margin-top: 0.5rem;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			color: map-get(c.$app-colors, "focus");
		}

		&--id {
			font-size: 1.5rem;
			color: map-get(c.$app-colors, "lightGray");
			padding: 1rem 0;
			width: 100%;
		}
	}

	&__text-cnt {
		margin: 0 2rem;
		max-width: 150px;
		min-width: 20px;
	}
}

.mess-header-options {
	@include mix.flex;

	&__button {
		font-size: 2rem;
		width: 40px;
		height: 40px;
		border-radius: 1.3rem;
		border: none;
		cursor: pointer;
		background: transparent;
		@include mix.hoverEffect;
		@include mix.clickEffect;

		&--more,
		&--option {
			font-size: 1.5rem;
		}

		&--option {
			position: absolute;
			top: 50%;
			right: 16px;
			transform: translateY(-50%);
		}
	}
}

.dropdown {
	position: relative;
}

.dropdown-menu {
	position: absolute;
	top: calc(100% + 15px);
	right: 0;
	filter: drop-shadow(0 3px 8px lighten(map-get(c.$app-colors, "lightGray"), 20));
	font-size: 1.6rem;
	background: map-get(c.$app-colors, "background");
	border-radius: 1.25rem;
	width: max-content;
	opacity: 0;
	pointer-events: none;
	transform: translateY(-10px);
	@include mix.trans(all, 0.2);
	$this: &;

	&--right-dir {
		left: 0;
		right: initial;

		&::before {
			left: 20px;
		}

		@include mix.media(mobile) {
			right: 0;
			left: initial;

			&::before {
				right: 0;
				left: initial;
			}
		}
	}

	&::before {
		@include mix.pseudo;
		position: absolute;
		top: 0;
		right: 0;
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
		border-bottom: 10px solid map-get(c.$app-colors, "background");
		transform: translate(-10px, -100%);
		width: 0;
		height: 0;
	}

	&__content {
		text-transform: Capitalize;
	}

	&__icon {
		margin-right: 1.25rem;
	}

	&__item {
		overflow: hidden;
		cursor: pointer;
		padding: 1.25rem;
		user-select: none;
		@include mix.flex(center, flex-start);
		@include mix.hoverEffect;
		@include mix.clickEffect;
	}

	&--show {
		opacity: 1;
		transform: translateY(0);
		pointer-events: all;
	}
}

.mess-cnt {
	@include mix.flex(space-between);
	flex-direction: column;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	height: 100vh;
	width: calc(100% - 80px);
	overflow: hidden;
	padding: 0 1rem;
	background: map-get(c.$app-colors, "background");
	@include mix.trans(width, 0.1, ease);

	&--small {
		width: calc(100% - 35%);
		min-width: calc(100% - 400px);
		max-width: calc(100% - 300px);
	}

	&__svg {
		user-select: none;
		-webkit-user-drag: none;
		pointer-events: none;
	}

	&__messages {
		flex-grow: 1;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 0 1rem;
	}

	&__icon {
		padding: 0 1rem;
	}

	&__button {
		position: absolute;
		text-align: center;
		bottom: 97px;
		border-radius: 2rem;
		cursor: pointer;
		user-select: none;
		left: 50%;
		z-index: 10;
		padding: 1rem;
		opacity: 0;
		pointer-events: none;
		background: map-get(c.$app-colors, "background");
		font-size: 1.2rem;
		color: map-get(c.$app-colors, "primary");
		transform: translate(-50%, 0);
		font-weight: 500;
		border: none;
		transform: translate(-50%, 50px);
		@include mix.trans(all, 0.2);

		&::before {
			@include mix.pseudo;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 2rem;
			box-shadow: map-get(c.$app-colors, "shadow");
			@include mix.trans(opacity);
		}

		&:active {
			background: map-get(c.$app-colors, "primary");
			color: white;
			&::before {
				opacity: 0;
			}
		}

		&--show {
			opacity: 1;
			pointer-events: all;
			transform: translateX(-50%);
		}
	}
}

.message {
	@include mix.flex(flex-start, flex-end);
	flex-direction: row-reverse;
	margin: 2rem;
	font-weight: 400;
	white-space: pre-line;
	$this: &;

	@mixin setMessStyle($owner: "other") {
		border-radius: 2rem;
		font-size: 1.35rem;

		@if $owner == "mine" {
			background: map-get(c.$app-colors, "primary");
			align-self: flex-end;
			word-wrap: break-word;
			color: white;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 2rem;
		} @else if $owner == "other" {
			background: lighten(map-get(c.$app-colors, "gray"), 40);
			color: map-get(c.$app-colors, "background");
			display: inline-block;
			border-bottom-left-radius: 0;
			padding: 1rem 1.3rem;
			color: rgb(5, 5, 5);

			word-break: break-all;
			max-width: 100%;
		}
	}

	&--new {
		@include mix.animation-appear("left");
	}

	&--my-mess {
		@include mix.flex(flex-start, flex-end);
		flex-direction: row;

		&--new {
			@include mix.animation-appear("right");
		}

		#{$this}__text {
			@include setMessStyle("mine");
		}

		#{$this}__author {
			align-self: flex-end;
		}

		#{$this}__img {
			border: 2px solid map-get(c.$app-colors, "primary");
		}
	}

	&__like {
	}

	&__text {
		@include setMessStyle();
	}

	&__author {
		display: inline;
		margin: 0.2rem 0;
		font-size: 1.45rem;
		color: map-get(c.$app-colors, "gray");
	}

	&__img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		border: 2px solid lighten(map-get(c.$app-colors, "gray"), 32);
		padding: 0.2rem;
		cursor: pointer;
	}
}

.text-info {
	@include mix.flex(flex-start);
	flex-direction: column;
	margin: 0 0.5rem;
	max-width: 60%;
}

.img-info {
	margin: 0 0.15rem;
	width: 32px;
	height: 32px;
}

@keyframes jump {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-80%);
	}

	100% {
		transform: translateY(0);
	}
}

.typing-persons {
	@include mix.flex;
	position: absolute;
	left: 50%;
	bottom: 60px;
	font-size: 1.3rem;
	font-weight: 600;
	transform: translateX(-50%);
	padding: 0.5rem;
	border-radius: 1.3rem;
	cursor: pointer;
	@include mix.trans(background);

	&:hover {
		background: map-get(c.$app-colors, "almostWhite");
	}
}

.typing-emoji {
	@include mix.flex(center, space-evenly);
	padding: 0.2rem;
	background: map-get(c.$app-colors, "almostWhite");
	width: 48px;
	height: 24px;
	border-radius: 0.75rem;
	margin: 0 0.5rem;

	&__dot {
		width: 7px;
		height: 7px;
		background: map-get(c.$app-colors, "primary");
		border-radius: 50%;

		@for $i from 1 to 4 {
			&--#{$i} {
				animation: jump infinite 1s #{$i * 0.2}s forwards;
			}
		}
	}
}

.mess-form {
	@include mix.flex;
	margin: 1rem 0;
	align-items: stretch;

	&__svg {
		position: absolute;
	}

	&__wrapper {
		position: relative;
		width: 100%;
		margin: 0 1rem;
	}

	&__input {
		outline: none;
		width: 100%;
		height: 52px;
		padding: 1.25rem 1.5rem;
		padding-right: 4rem;
		font-size: 2rem;
		font-family: inherit;
		border-radius: 0.75rem;
		border-bottom-left-radius: 0.7rem;
		border-bottom-right-radius: 0.7rem;
		background: map-get(c.$app-colors, "almostWhite");
		border: none;
		border-bottom: 3px solid map-get(c.$app-colors, "primary");
		color: map-get(c.$app-colors, "focus");
		overflow: auto;
		word-wrap: break-word;
		resize: none;

		&::placeholder {
			font-size: 1.6rem;
			color: map-get(c.$app-colors, "primary");
		}
	}

	&__button {
		position: relative;
		border: none;
		background: map-get(c.$app-colors, "primary");
		padding: 1rem 2rem;
		font-size: 2rem;
		border-radius: 1rem;
		color: map-get(c.$app-colors, "background");
		cursor: pointer;

		&--empty {
			align-self: center;
		}

		&--function {
			position: absolute;
			top: 0;
			right: 0;
			margin: 0 0.75rem;
		}

		&--ui {
			width: 32px;
			height: 32px;
			background: none;
			font-size: 2rem;
			padding: 2rem;
			color: map-get(c.$app-colors, "primary");
			@include mix.flex;
			@include mix.hoverEffect("light");
			@include mix.clickEffect("light");
		}

		&--centered {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}

		&--moving {
			@include mix.trans(transform, 0.2);

			&:hover {
				transform: scale(1.2);
			}

			&:active {
				transform: scale(1);
			}
		}
	}
}

.img {
	&--emoji {
		max-width: 25px;
	}
}

.window {
	position: absolute;
	bottom: 20px;
	right: -45px;
	opacity: 0;
	pointer-events: none;
	@include mix.flex;
	flex-wrap: wrap;
	background: lighten(map-get(c.$app-colors, "background"), 25);
	box-shadow: 0 5px 0 5px lighten(map-get(c.$app-colors, "lightGray"), 20);
	margin: 5rem;
	border-radius: 2rem;
	border-top: 4px solid lighten(map-get(c.$app-colors, "lightGray"), 25);
	max-width: 300px;
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
	@include mix.trans(opacity, 0.2);

	&--opened {
		opacity: 1;
		pointer-events: all;
	}
}

.emoji {
	background: none;
	border: none;
	font-size: 3.4rem;
	min-width: 58px;
	height: 54px;
	cursor: pointer;
	border-radius: 2rem;
	@include mix.flex;
	@include mix.hoverEffect;
	transition: background 0.2s 0s ease, transform 0.05s 0s ease;

	&:active {
		background: lighten(map-get(c.$app-colors, "lightGray"), 22);
		transform: scale(0.9);
	}
}

.message-date {
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
	color: map-get(c.$app-colors, "gray");
	padding-top: 1rem;
	font-size: 1.05rem;
}

@include mix.media(largeMobile) {
	.mess-cnt {
		width: 100%;
		min-width: 100%;

		&--small {
			min-width: 100%;
		}
	}

	.mess-header-info {
		&__header {
			margin: 1rem 0.5rem;

			&--img {
				width: 40px;
				height: 40px;
			}

			&--name {
				font-size: 1.5rem;
			}

			&--id {
				display: none;
			}
		}

		&__text-cnt {
			margin: 0;
		}
	}

	.mess-header-options {
		&__button {
			&--add-user {
				// display: none;
			}
		}
	}
}

@include mix.media(miniMobile) {
	.mess-header-info {
		margin: 0.5rem 0;
		&__header {
			margin-right: 0.5rem;
		}
	}
}

.info-box {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding: 1rem;
	background: map-get(c.$app-colors, "primary");
	text-align: center;

	&__info {
		color: white;
		font-size: 2rem;
		font-weight: 500;
	}
}
