@use "config";
@use "loader";
@use "popup";
@use "call-popup";
@use "video-chat";
@use "menu";
@use "chat-room";
@use "mess-cnt";
@use "tabs";
@use "placeholders";
@use "colors" as c;
@use "mixins" as mix;

.page {
	height: 100vh;
	font-family: "Inter";
	background: map-get(c.$app-colors, "background");
	overflow: hidden;
}

.app-root {
	@include mix.flex(stretch, stretch);
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	flex-grow: 1;
	width: 100%;
	height: 100%;
}

.content {
	@include mix.flex(center, center);
	width: 50%;
	flex-direction: column;
	background: map-get(c.$app-colors, "background");
}

.img-section {
	@include mix.flex;
	width: 50%;
	padding: 1rem;

	&__img {
		width: 80%;
	}
}

.header {
	padding: 2rem 0;
	width: 100%;
	flex: 0.5;
	text-align: center;

	&__text {
		font-size: 1.4rem;
		font-weight: 600;
		line-height: 1.5;
		text-align: left;
		max-width: 400px;
		padding: 1rem 0;
		margin: 0;
		color: map-get(c.$app-colors, "primary");
		letter-spacing: 0.25px;
	}

	&__sub-title {
		color: map-get(c.$app-colors, "focus");
		margin: auto;
		font-size: 3rem;
		text-align: left;
		font-weight: 600;
		letter-spacing: 1px;
	}
}

.logo {
	&__link {
		@include mix.flex(center, flex-start);
		text-decoration: none;
		color: inherit;
		font-size: 3rem;
		font-weight: 500;
	}

	&__img {
		max-width: 60px;
		margin-right: 1rem;
	}
}

.multiple-cnt {
	gap: 1rem;
	@include mix.flex(center, stretch);

	&__input {
		width: 100%;
	}
}

.form {
	position: relative;
	@include mix.flex(center, space-between);
	flex-direction: column;
	flex: 1;
	padding: 1rem;

	&__error {
		position: relative;
		display: block;
		max-width: 300px;
		align-self: flex-end;
		padding: 1.5rem;
		padding-left: 5rem;
		border-radius: 0.75rem;
		font-weight: 500;
		background: lighten(map-get(c.$app-colors, "error"), 39);
		font-size: 1.75rem;
		text-align: left;
	}

	&__error-icon {
		pointer-events: none;
		@include mix.flex;
		position: absolute;
		top: 0;
		left: 0;
		margin: 1.5rem 1rem;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: lighten(map-get(c.$app-colors, "error"), 7.5);
		color: white;
	}

	&__data {
		flex: 1;
		text-align: center;
	}

	&__row {
		@include mix.flex(stretch);
		flex-direction: column;
		margin: 1.5rem 0;
		width: 100%;
		flex: 0.5;

		&--options {
			@include mix.flex(center, space-between);
			flex-direction: row;
			flex-wrap: wrap;
		}

		&--away {
			margin: 2rem 0;
		}
	}

	&__label {
		margin: 0.5rem 0;
		font-size: 2rem;
		font-weight: 500;
		color: map-get(c.$app-colors, "focus");
		text-align: left;

		&--small {
			padding: 0 0.5rem;
			font-size: 1.4rem;
		}

		&--interactive {
			cursor: pointer;
		}

		&--radio {
			@include mix.flex(center, flex-start);
			&::before {
				@include mix.pseudo;
				border-radius: 50%;
				margin-left: -2rem;
				padding: 0.4rem;
				width: 16px;
				height: 16px;
				background: map-get(c.$app-colors, "background");
				box-shadow: inset 0 0 0 2px map-get(c.$app-colors, "primary");
			}
		}
	}

	&__select {
		margin: 0.5rem 0;
		padding: 1rem;
		border: none;
		border: 3px solid transparent;
		border-bottom: 3px solid map-get(c.$app-colors, "primary");
		border-radius: 0.5rem;
		background: map-get(c.$app-colors, "almostWhite");
		cursor: pointer;

		&:hover {
			background: darken(map-get(c.$app-colors, "almostWhite"), 5);
		}
	}

	&__group {
		margin: 1rem 0;
		border: none;
		border-radius: 0.75rem;
	}

	&__button {
		align-self: center;
		background: map-get(c.$app-colors, "primary");
		color: map-get(c.$app-colors, "background");
		font-size: 2rem;
		padding: 1.2rem 2rem;
		margin: 1rem 0;
		border-radius: 1rem;
		border: 1px solid transparent;
		cursor: pointer;

		&--long {
			width: 100%;
		}

		&--secondary {
			background: map-get(c.$app-colors, "gray");
		}
	}

	&__link {
		display: inline;
		border-radius: 2rem;
		font-size: 1.3rem;
		align-self: center;
		text-decoration: none;
		border: 1px solid transparent;
		padding: 0.5rem;
		color: map-get(c.$app-colors, "primary");
	}
}

.radio-cnt {
	margin: 0 2.1rem;
	@include mix.flex(center, flex-start);
}

.footer {
	@include mix.flex;
	width: 100%;
	align-self: flex-end;
	height: 60px;
	padding: 2rem;
	font-size: 1.5rem;
	font-weight: 500;
	z-index: 1;
	background: map-get(c.$app-colors, "primary");
	color: map-get(c.$app-colors, "background");
}

.add-sign-up {
	max-width: 300px;
	margin: auto;
	border: none;
	border-top: 1px solid map-get(c.$app-colors, "lightGray");
	text-align: center;

	.platforms-cnt {
		@include mix.flex;
		margin: 2rem;
	}

	&__text {
		padding: 0 1rem;
		color: map-get(c.$app-colors, "gray");
		font-size: 1.7rem;
	}

	&__method {
		@include mix.flex;
		padding: 2.3rem;
		text-decoration: none;
		background: map-get(c.$app-colors, "background");
		color: map-get(c.$app-colors, "primary");
		font-size: 2.5rem;
		border-radius: 50%;
		width: 32px;
		height: 32px;
		box-shadow: map-get(c.$app-colors, "shadow");
		margin: 0.5rem;

		&--google {
			color: hsl(0, 57%, 51%);
		}

		&--facebook {
			color: hsl(216, 79%, 51%);
		}
	}
}

.button {
	border: none;
	cursor: pointer;
	background: map-get(c.$app-colors, "primary");
	color: map-get(c.$app-colors, "background");
	@include mix.trans(all, 0.1);

	&:hover {
		background: darken(map-get(c.$app-colors, "primary"), 10%);
	}

	&:active {
		transform: scale(0.95);
	}

	&--secondary {
		color: map-get(c.$app-colors, "primary");
		background: transparent;
		@include mix.hoverEffect("light");
		@include mix.clickEffect("light");
	}
}

.input {
	border: none;
	border: 3px solid transparent;
	border-bottom: 3px solid map-get(c.$app-colors, "primary");
	background: map-get(c.$app-colors, "almostWhite");
	border-radius: 0.7rem;
	font-size: 1.75rem;
	font-weight: 500;
	padding: 1rem;
	outline: none;
	color: map-get(c.$app-colors, "focus");

	&--radio {
		display: none;
		width: auto;
		margin: 0.5rem;

		&:checked ~ .form__label--radio {
			&::before {
				@include mix.click-animation;
				box-shadow: inset 0 0 0 5px map-get(c.$app-colors, "primary");
			}
		}
	}

	&:focus {
		background: map-get(c.$app-colors, "background");
		box-shadow: 0 0 0 3px map-get(c.$app-colors, "primary");
		border-color: transparent;
	}

	&:not(:placeholder-shown):invalid {
		border-bottom-color: map-get(c.$app-colors, "error");
	}

	&:focus:not(:placeholder-shown):invalid {
		border-color: transparent;
		box-shadow: 0 0 0 3px map-get(c.$app-colors, "error");
	}
}

.button,
.link,
.input,
.select {
	font-family: "Inter";
	font-weight: 500;
	outline: none;

	&:focus-visible {
		box-shadow: 0 0 0px 4px map-get(c.$app-colors, "lightGray");
	}

	&::placeholder {
		font-weight: 400;
	}
}

.input {
	&:focus {
		box-shadow: 0 0 0 3px map-get(c.$app-colors, "primary");
	}
}

@supports not selector(*:focus-visible) {
	.button,
	.link,
	.select {
		&:focus {
			box-shadow: 0 0 8px 3px map-get(c.$app-colors, "lightGray");
		}
	}

	.input {
		&:focus {
			box-shadow: 0 0 0 3px map-get(c.$app-colors, "primary");
		}
	}
}

@include mix.media(tablet) {
	.form {
		&__merged-fields {
			flex-direction: column;
		}
	}

	.content {
		width: 100%;
	}

	.img-section {
		width: 100%;
	}

	.logo {
		margin-bottom: 4rem;
	}
}

@include mix.media(mobile) {
	.form {
		width: 80%;

		&__data {
			width: 100%;
		}

		&__group {
			justify-content: flex-start;
			flex-wrap: wrap;
		}
	}

	.multiple-cnt {
		flex-direction: column;
	}

	.logo {
		&__link {
			justify-content: center;
		}
	}
}

.table {
	@include mix.flex(stretch, stretch);
	flex-direction: column;
	gap: 1rem;
	&--mini {
		margin: 1rem;
		width: 300px;
		max-width: 300px;
		height: 250px;
		overflow: hidden;
	}

	&__list {
		flex: 1;
		overflow: auto;
	}

	&__item {
		@include mix.flex(center, space-between);
		font-size: 2rem;
		font-weight: 500;
		margin: 0.5rem;
		padding: 1rem;
		border-radius: 1rem;
		@include mix.hoverEffect {
			cursor: pointer;
		}
		@include mix.clickEffect;
	}

	&__item-label {
		user-select: none;
		word-break: break-all;
		padding: 0.5rem 1rem;
	}
}

.global-label {
	font-size: 1.5rem;
}

.loader-bar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 5px solid map-get(c.$app-colors, "almostWhite");
	border-top-color: map-get(c.$app-colors, "primary");
	animation: rotate 0.5s 0s ease-out infinite;
}

.dnd-field {
	@include mix.flex(center, center);
	text-align: center;
	border: 2px dashed map-get(c.$app-colors, "lightGray");
	width: 350px;
	height: 150px;
	cursor: pointer;
	user-select: none;
	border-radius: 20px;
	$this: &;
	@include mix.trans;

	&__text {
		color: map-get(c.$app-colors, "gray");
		font-weight: 600;
		font-size: 3rem;
	}

	&__file-input {
		display: none;
	}

	&__thumbnail {
		position: relative;
		display: none;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		overflow: hidden;

		&::after {
			content: attr(data-file-name);
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 0.5rem;
			text-align: center;
			font-size: 1.25rem;
			color: map-get(c.$app-colors, "almostWhite");
		}
	}

	&__thumbnail-img {
		-webkit-user-drag: none;
		width: 100%;
		height: 100%;
	}

	&--drag-over {
		border: 2px dashed map-get(c.$app-colors, "primary");
		background: rgba(map-get(c.$app-colors, "primary"), 0.1);

		#{$this}__text {
			color: map-get(c.$app-colors, "primary");
		}
	}

	&--dropped {
		border: 2px solid map-get(c.$app-colors, "primary");
		padding: 1rem;

		#{$this}__text {
			display: none;
		}

		#{$this}__thumbnail {
			display: block;
		}
	}
}
