@use "colors" as c;
@use "mixins" as mix;

.call-popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 420px;
	z-index: 9999;
	background-color: map-get(c.$app-colors, "background");
	box-shadow: map-get(c.$app-colors, "shadow");
	border-radius: 2rem;
	overflow: hidden;
	@include mix.flex;
	flex-direction: column;
	font-weight: 400;
	@include mix.animation-centered-scale-appear;

	@include mix.media(largeMobile) {
		width: 100%;
		height: 100%;
		box-shadow: none;
		background-color: rgba(map-get(c.$app-colors, "background"), 0.2);
		backdrop-filter: blur(10px);
		border-radius: 0;
	}

	&__close-popup {
		position: absolute;
		top: 0;
		right: 0;
		margin: 1rem;
		width: 48px;
		height: 48px;
		font-size: 3rem;
		border-radius: 2rem;
		border: none;
		color: map-get(c.$app-colors, "focus");
		background: map-get(c.$app-colors, "almostWhite");
		cursor: pointer;
	}

	&__profile-img {
		-webkit-user-drag: none;
		width: 150px;
		height: 150px;
		border-radius: 50%;
	}

	&__caller-name {
		margin-top: 2rem;
		font-size: 4rem;
		color: map-get(c.$app-colors, "focus");
	}

	&__call-type {
		font-size: 1.5rem;

		color: map-get(c.$app-colors, "gray");
	}

	&__options {
		width: 100%;
		margin: 3rem;
		@include mix.flex(center, space-around);
	}

	&__fn-btn {
		padding: 2rem;
		color: map-get(c.$app-colors, "background");
		border-radius: 2rem;
		font-size: 2rem;
		border: none;
		cursor: pointer;

		&--accept {
			background: map-get(c.$app-colors, "primary");
		}

		&--reject {
			background: map-get(c.$app-colors, "error");
		}
	}
}
