@use "colors" as c;
@use "mixins" as mix;

@keyframes rocking {
	0% {
		transform: translateY(-10px);
	}

	50% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(-10px);
	}
}

.loader-cnt {
	@include mix.flex;
	position: fixed;
	width: 100%;
	height: 100vh;
	background: map-get(c.$app-colors, "background");
	z-index: 1000;

	&--loaded {
		@include mix.animation-default-appear(0.3, 0, reverse);
		pointer-events: none;
	}
}

.loader {
	&__svg {
		transform: scale(0.7);
		animation: rocking 2.5s 0s ease infinite;
	}
}
