@use "colors" as c;
@use "mixins" as mix;

.tab {
	@include mix.flex;
	flex-direction: column;

	&__button {
		padding: 1rem;
		border-radius: 0.8rem;
		border: none;
		margin: 1rem;
		font-size: 2rem;
		cursor: pointer;
		transition: background 0.2s 0s ease;
	}

	&__tab-options {
		@include mix.flex(center, space-around);
	}

	&__input {
		width: 80%;
		margin: 2rem;
		padding: 1.1rem 1.4rem;
		font-size: 1.6rem;
		border: none;
		border-radius: 2rem;
		background: rgb(242, 242, 242);

		&::placeholder {
			color: map-get(c.$app-colors, "primary");
		}
	}
}

.tab-list {
	position: relative;
	overflow: auto;
	flex-grow: 1;
	padding: 0.5rem;
	$tabList: &;
	user-select: none;
	background: map-get(c.$app-colors, "background");

	&__options-cnt {
		position: absolute;
		@include mix.flex;
		top: 0;
		right: 0;
		height: 100%;
		padding: 1rem;
	}

	&__option-btn {
		padding: 0.75rem;
		border-radius: 1rem;
	}

	&__active-indicator {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 16px;
		height: 16px;
		background: hsl(0, 90%, 50%);
		border: 2px solid white;
		border-radius: 50%;

		&--active {
			background: hsl(120, 80%, 55%);
		}
	}

	&__photo-cnt {
		position: relative;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: map-get(c.$app-colors, "gray");
	}

	&__item-info {
		@include mix.flex(center, flex-start);
		pointer-events: none;
	}

	&__content-info {
		@include mix.flex(flex-start, space-around);
		align-self: stretch;
		flex-direction: column;
		margin: 0 1rem;
		width: 60%;
	}

	&__item-conversation-name {
		font-size: 1.75rem;
		font-weight: 400;
		color: map-get(c.$app-colors, "focus");
	}

	&__item-conversation-message {
		font-size: 1.5rem;
		color: map-get(c.$app-colors, "lightGray");
		font-weight: 400;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 100%;
	}

	&__conversation-photo {
		-webkit-user-drag: none;
		object-fit: cover;
		height: 100%;
		width: 100%;
		border-radius: 50%;
	}

	&__header {
		padding: 0.75rem;
		border-radius: 0.75rem;
		user-select: none;
		font-size: 1.4rem;
		background: rgb(249, 249, 249);
		text-transform: Capitalize;
	}

	&__item {
		position: relative;
		cursor: pointer;
		padding: 1.5rem;
		font-size: 2rem;
		margin: 0.5rem 0;
		border-radius: 0.75rem;
		color: map-get(c.$app-colors, "gray");
		overflow: hidden;
		@include mix.hoverEffect("light") {
			color: map-get(c.$app-colors, "focus");
		}
		@include mix.clickEffect("light");

		&::after {
			@include mix.pseudo(none);
			top: 50%;
			right: 0;
			width: 8px;
			height: 100%;
			background: map-get(c.$app-colors, "primary");
			transform: translate(0, -50%);
		}

		&--active {
			background: rgb(240, 240, 240);
			color: map-get(c.$app-colors, "focus");
		}

		&--new {
			font-weight: 600;

			&::after {
				@include mix.pseudo(block);
			}
		}
	}
}

.account-info {
	position: relative;
	margin: 1rem;
	flex-grow: 1;
	overflow: auto;

	&__header {
		position: sticky;
		background: white;
		top: 0;
		left: 0;
	}

	&__title {
		top: 0;
		left: 0;
		font-size: 3rem;
		padding: 1rem 0;
		margin-bottom: 2rem;
	}

	&__content {
		margin: 0;
		flex-grow: 1;
	}
}

.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 1.75rem;
	margin: 2rem 0;

	&__name {
		font-weight: 600;
		margin-right: 1rem;
		user-select: none;
	}

	&__value {
		color: map-get(c.$app-colors, "gray");
	}

	@include mix.media(tablet) {
		flex-direction: column;

		&__name {
			margin: 0.75rem 0;
		}
	}
}
